VITE_FIREBASE_API_KEY="AIzaSyBLpK1yLEl7J0PpnUwL-oH4OnUKRISk_J8"
VITE_FIREBASE_AUTH_DOMAIN="hostelhub-3e1d8.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="hostelhub-3e1d8"
VITE_FIREBASE_STORAGE_BUCKET="hostelhub-3e1d8.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="268510302974"
VITE_FIREBASE_APP_ID="1:268510302974:web:571907f2d6a24360c30baf"